{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}


<script src="{{ 'flickity.pkgd.min.js' | asset_url }}" defer="defer"></script>
{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
 
    {% comment %} {% if recommendations.performed and recommendations.products_count > 0 %} {% endcomment %}
    <div class="page-width">
    <div class="related-product-heading flex flex-row text-center justify-start items-center my-12">
        <h2 class="text-blue-custom text-6xl inline-richtext mx-5">{{ section.settings.heading }}</h2>
<div id="shopAlldivDesktop" class="flex flex-row w-4/6 text-center justify-end items-center ">


        <div 
        class="shopAllLine m-2 flex text-transparent border-t-0 "
        style="background-color: {{ section.settings.line_color }}; width: {% if section.settings.show_shop_all %} 85% {% else %} 100% {% endif %}; height: 0.15rem;"
      >
        s
      </div>

        {% if section.settings.show_shop_all %}
          <a 
            class="flex flex-row items-center text-nowrap  "
            href="{{ section.settings.shop_all_url }}"
            style="color: {{ section.settings.link_color }};"
          >
            {{ section.settings.link_text }}
            <svg class="w-10 ml-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="{{ section.settings.icon_color }}">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M6 18L18 6M18 6H9M18 6V15" stroke="{{ section.settings.icon_color }}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
          </a>
        {% endif %}
        </div>
    </div></div>
    <product-recommendations
  class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"

  data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
> 
    <ul
      class="main-carousel flex flex-row flex-wrap justify-between"
      role="list" 
    >
      {% assign skip_card_product_styles = false %}
      {% for recommendation in recommendations.products %}
        <li class="carousel-cell sm:w-3/12 w-full">
          {% render 'card-product',
            card_product: recommendation,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            skip_styles: skip_card_product_styles,
            quick_add:true
          %}
        </li>
        {%- assign skip_card_product_styles = true -%}
      {% endfor %}
    </ul>
 
    {% comment %} {% endif %} {% endcomment %}
  </product-recommendations> 

  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
  <div id="shopAlldivMobile" class="flex flex-row w-100 px-5  z-auto  mb-6 text-center justify-end items-center "></div>
</div>
{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading Text",
      "default": "Related Products"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "Shop All"
    },
    {
      "type": "url",
      "id": "shop_all_url",
      "label": "Shop All URL",
      "default": "/collections/all"
    },
    {
      "type": "checkbox",
      "id": "show_shop_all",
      "label": "Show Shop All Section",
      "default": true
    },
    {
      "type": "color",
      "id": "line_color",
      "label": "Line Color",
      "default": "#FDBA74"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link Text Color",
      "default": "#F97316"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon Color",
      "default": "#FF6932"
    },
    
    // 
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 8,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 8,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.related-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.related-products.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
<script defer>
  console.log("scripts running 1")
var elem = document.querySelector('.main-carousel');
var flkty = new Flickity( elem, {
  // options
  cellAlign: 'left',
  contain: true
});

// element argument can be a selector string
//   for an individual element
var flkty = new Flickity( '.main-carousel', {
  // options
});
document.addEventListener('DOMContentLoaded', function() {
    // Function to check if the screen width is mobile size
    function isMobileDevice() {
      return window.innerWidth <= 768;
    }
console.log("running 2")
    // Move content if screen is mobile size
    if (isMobileDevice()) {
      var desktopDiv = document.getElementById('shopAlldivDesktop');
      var mobileDiv = document.getElementById('shopAlldivMobile');
      var content = desktopDiv.innerHTML;
      desktopDiv.innerHTML = '';
      mobileDiv.innerHTML = content;
    }
  });
</script>